@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Oswald&display=swap');
body{

   margin:0px  
}
#marco{
    background-color: rgb(228, 226, 226); 
    width:auto;
    height: auto;
    text-align: center;
    margin-left: 400px;
    margin-right: 400px;
    border:2px solid #333;
    border-radius: 10px;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}
input[type=text], input[type=password] {

  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.login {
  background-color: gray;
  color: mediumblue;
  padding: 14px 20px;
  margin: 8px 0;
  cursor: pointer;
  width: 100px;
  min-height: 10px;
}
.cancelbtn {
  color: red;
  width: 100px;
  padding: 10px 18px;
  text-align: center;
  float:center;
 
}
.tituloimagen {
  text-align: center;
  margin: 24px 0 12px 0;
  min-width: 100px;
  min-height: 100px;
}
img.avatar {
    padding-top: 50px;
  width: 40%;
 
}
.Info {
  padding: 16px;
  text-align: center;
  margin: 24px 0 12px 0;
  min-width: 100px;
  min-height: 100px;
}

span.psw {
  float: right;
  padding-top: 16px;
}
.loge{
    text-decoration: none;
    font-family: 'Oswald', sans-serif;  
    font-weight: 800;
    font-size: 20px;
    text-align-last: right;
    color: red;
}
.back{
  color: red;
  width: 100px;
  padding: 10px 18px;
  text-align: center;
  float:center;
}



